# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build folders
build/
dist/

# Python virtual environments
venv/
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# macOS and VSCode junk
.DS_Store
.vscode/
